:root {
    --c-accent: #2453E1;
    --c-text: #0F0908;
}

// шрифты
$ff-inter: 'Inter', Arial, Helvetica, sans-serif;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet-small': 899,
    'tablet': 1023,
    'laptop-small': 1279,
    'laptop': 1420,
    'large': 1800,
    'full': 2000,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-accent: var(--c-accent);
$c-accent-hover: #2427e1;
$c-notifications: #EF4444;
$c-text-breadcrumbs: #878E9C;
$c-bg-dark: #101010;
$c-input-grey: #6B7280;
$c-text: var(--c-text);
$c-bg-main: #EDF0F6;
$c-status-red: #DC2626;
$c-status-green: #22C55E;
$c-status-blue: #2453E1;
$c-status-yellow: #EAB308;
$c-status-lred: #FEF2F2;
$c-status-lgreen: #DCFCE7;
$c-status-lyellow: #FEF9C3;
$c-accent-2: #FC00FF;
$c-text-light: #9299A7;
$c-text-light-1: #EDF0F6;
$c-bg-main-hover: #EAF0FC;
$c-bg-input: #EDF0F6;
$c-grey: #202020;
$c-controls-grey: #9DA2AD;
$c-border: #E1E6EC;
$c-error: #D31717;

// Радиусы
$br-section: 16px;
$br-section-mob: 10px;
$br-header-small: 20px;
$br-header-big: 24px;
$br-footer: 40px;
$br-btn-input: 8px;

// переходы
$tr-time: .3s;
$tr-time-long: .5s;