.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &__section.section {
        background-color: $c-bg-main;
        padding-bottom: 0;
        padding-top: 20px;
        transition: all $tr-time linear;

        @include max(laptop) {
            padding-bottom: 0;
            padding-top: 20px;
        }

        @include max(mobile) {
            padding: 10px;
            background-color: $c-white;
        }
    }

    &__container {
        @include max(tablet) {
            display: flex;
            gap: 6px;
            align-items: stretch;
            min-height: 76px;
        }

        @include max(mobile) {
            min-height: 36px;
            gap: 16px;
        }
    }

    &__row {
        min-height: 64px;
        display: flex;
        align-items: stretch;
        gap: 8px;

        @include max(tablet) {
            display: contents;
        }
    }

    &__block {
        width: fit-content;
        flex: 0 1 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-text-breadcrumbs;

        @include max(laptop) {
            padding: 0 18px;
        }

        @include max(tablet) {
            padding: 6px;
        }
    }

    &__left {
        margin-right: auto;
        flex: 0 0 148px;
        padding-left: 14px;
        padding-right: 14px;

        @include max(tablet) {
            order: -1;
            padding-left: 14px;
            padding-right: 14px;
        }

        @include max(tablet-small) {
            flex: 0 0 148px;
        }

        @include max(mobile) {
            display: contents;
        }
    }

    &__logo {
        gap: 16px;
        display: flex;
        align-items: center;

        @include max(mobile) {
            margin-right: auto;
        }

        svg {
            width: 125px;
            flex: 0 0 125px;

            @include max(tablet-small) {
                flex: 0 0 120px;
            }
        }

        span {
            font-weight: 600;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: $c-text;

            @include max(tablet-small) {
                display: none;
            }
        }
    }


    &__notifications {
        overflow: visible;

        @include max(tablet) {
            display: none;
        }
    }

    &__callback {
        @include max(mobile) {
            display: none;
        }
    }


    &__menu {
        flex: 1 1 auto;
        width: 100%;
        overflow: visible;
        align-items: stretch;

        @include max(tablet) {
            flex: 0 1 auto;
            order: -1;
            gap: 16px;
        }

        @include max(mobile) {
            display: contents;
        }
    }

    &__lk {
        flex: 0 0 auto;
    }
}

.site-header {
    &.small &__section.section {
        background-color: transparent;

        @include min(mobile) {
            padding-top: 4px;
        }

        @include max(mobile) {
            background-color: $c-white;
        }
    }

    &.small &__top {
        max-height: 0;
        min-height: 0;
    }

    &.small &__bottom {
        max-height: 50px;
        min-height: 50px;
    }
}

.header-notifications {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-text-breadcrumbs;
    transition: color $tr-time linear;

    &:hover {
        color: $c-accent-hover;
    }

    svg {
        width: 25px;
        height: 25px;
    }

    &__count {
        position: absolute;
        right: -20px;
        top: 0;
        padding: 3px 6px;
        background-color: $c-notifications;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-white;
        border-radius: 8px;
    }

    &__text {
        display: none;
    }
}

.header-notifications {
    &--burger {
        width: 100%;
        gap: 6px;
        justify-content: flex-start;
    }

    &--burger &__text {
        display: block;
    }

    &--burger &__count {
        position: relative;
        right: 0;
        top: 0;
    }

    &--burger svg {
        display: none;
    }
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include max(tablet) {
        padding: 0;
        gap: 16px;
    }

    @include max(mobile) {
        display: none;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &--desk {
            @include max(tablet) {
                display: none;
            }
        }

        &--mob {
            @include min(tablet-small) {
                display: none;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background-color: transparent;
        transition: all $tr-time linear;
        border-radius: 5px;
        gap: 6px;

        @include max(tablet) {
            padding: 0;
        }
    }

    &__item:hover &__header {
        background-color: $c-bg-main;
    }

    &__link {
        font-family: $ff-inter;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0;
        color: $c-text;
        transition: all $tr-time linear;

        &:hover {
            color: $c-accent-hover;
        }

        @include max(tablet) {
            font-size: 13px;
        }
    }

    &__list &__link {
        font-size: 16px;
        font-weight: 400;
        padding: 8px 6px;
    }

    &__icon svg {
        width: 11px;
        height: 10px;
        transform: rotate(0);
        transition: all $tr-time linear;
    }

    &__item:hover &__icon svg {
        transform: rotate(-180deg);
    }

    &__submenu {
        position: absolute;
        left: 0;
        top: calc(100% + 20px);
        background-color: $c-white;
        padding: 12px 16px;
        width: max-content;
        min-width: 248px;
        border-radius: 8px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        &:after {
            content: "";
            position: absolute;
            top: -34px;
            left: 0;
            width: 100%;
            height: 35px;
            background-color: transparent;
        }
    }

    &__item:hover &__submenu {
        opacity: 1;
        visibility: visible;
        top: calc(100% + 33px);
    }

    &__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-light;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.header-menu {
    &--burger {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        @include max(mobile) {
            display: flex;
        }
    }

    &--burger &__item {
        flex-direction: column;
        align-items: flex-start;

        &--mob {
            @include min(tablet-small) {
                display: none;
            }
        }
    }

    &--burger &__header {
        width: 100%;
        justify-content: space-between;
    }

    &--burger &__item:hover &__header {
        background-color: transparent;
    }

    &--burger &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-breadcrumbs;
    }

    &--burger &__icon--open {
        display: block;
        width: 19px;
        height: 19px;
    }

    &--burger &__icon--close {
        display: none;
        width: 20px;
        height: 20px;
    }

    &--burger &__item.active &__icon--open {
        display: none;
    }

    &--burger &__item.active &__icon--close {
        display: block;
    }

    &--burger &__submenu {
        position: relative;
        opacity: 1;
        visibility: visible;
        top: 0;
        padding: 20px 0 0 20px;
        min-width: auto;
        max-height: 0;
        padding-top: 0;
        margin-top: 0;
        overflow: hidden;
        border-radius: 0;

        &::after {
            content: none;
        }
    }

    &--burger &__item.active &__submenu {
        margin-top: 20px;
    }

    &--burger &__subtitle {
        display: none;
    }

    &--burger &__item:hover &__submenu {
        top: 0;
    }

    &--burger &__list {
        margin-top: 0;
    }

}

.header-burger {
    display: none;
    height: 100%;
    position: relative;

    @include max(tablet) {
        display: block;
    }

    @include max(mobile) {
        align-self: center;
    }

    &__toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-bg-main;
        border-radius: 18px;
        padding: 14px;
        height: 100%;

        @include max(mobile) {
            padding: 0;
            color: $c-text;
            background-color: transparent;
        }

    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__open {
        display: flex;
    }

    &__close {
        display: none;
    }

    &.active &__open {
        display: none;
    }

    &.active &__close {
        display: flex;
    }

    &__content {
        position: absolute;
        right: 0;
        top: calc(100% + 0px);
        width: fit-content;
        min-width: 360px;
        background-color: $c-white;
        border-radius: 24px;
        padding: 15px 30px 15px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        @include max(mobile) {
            position: fixed;
            right: auto;
            top: 40px;
            left: 0;
            width: 100%;
            padding: 28px 30px 15px;
            height: calc(100% - 55px - 30px);
            border-radius: 0 0 24px 24px;
            border-top: 1px solid $c-border;
            z-index: -1;
            overflow-y: auto;
        }
    }

    &.active &__content {
        top: calc(100% + 12px);
        opacity: 1;
        visibility: visible;

        @include max(mobile) {
            top: 56px;
        }

    }

    &__block {
        padding: 15px 0;
    }

    &__block--flex {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__block+&__block {
        border-top: 1px solid $c-border;
    }

}

.lk-btn {

    position: relative;
    font-family: $ff-inter;

    &__header {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 5px 12px;
        width: fit-content;
        max-width: 340px;
        background-color: $c-accent;
        color: $c-white;
        border-radius: $br-section;
        cursor: pointer;

        @include max(large) {
            max-width: 220px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        flex-shrink: 1;
        white-space: nowrap;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__icon {
        flex-shrink: 0;
        width: 20px;
        height: 20px;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__chevron {
        margin-left: 4px;
        flex-shrink: 0;
        width: 11px;

        svg {
            width: 11px;
            height: 10px;
        }
    }
}