-
    const defaultHeaderProps = {
        classes: '',
        type: 'supplier',

    }

mixin header(props = defaultHeaderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultHeaderProps.classes,
            type: props.type ? props.type : defaultHeaderProps.type,
        }

    header.site-header(data-js="siteHeader")
        .section.site-header__section(data-js="siteHeaderSection")
            .section__container.site-header__container
                .site-header__row
                    .section-block.site-header__block.site-header__left
                        a(href="javascript:void(0);").site-header__logo
                            picture
                                source(media="(max-width: 992px)" srcset="img/logo/logo_header.svg")
                                img(src="img/logo/logo_header.svg" alt="")

                    - if(checkProps.type === 'supplier')

                        .section-block.site-header__block.site-header__menu
                            nav.header-menu
                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Личный кабинет

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Добавление авто
                                        .header-menu__icon
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#arrow_angle_down`)
                                    .header-menu__submenu
                                        .header-menu__list
                                            a(href="javascript:void(0);").header-menu__link Пункт 1
                                            a(href="javascript:void(0);").header-menu__link Пункт 2
                                            a(href="javascript:void(0);").header-menu__link Пункт 3
                                            a(href="javascript:void(0);").header-menu__link Пункт 4

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Каталог
                                        .header-menu__icon
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#arrow_angle_down`)
                                    .header-menu__submenu
                                        .header-menu__list
                                            a(href="javascript:void(0);").header-menu__link Мои автомобили
                                            a(href="javascript:void(0);").header-menu__link Проблемные авто
                                            a(href="javascript:void(0);").header-menu__link Архивные автомобили
                                            a(href="javascript:void(0);").header-menu__link Проданные автомобили

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Аналитика

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Запросы на покупку

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Заявки на регистрацию

                        .section-block.site-header__block.site-header__notifications
                            a(href="javascript:void(0);").header-notifications
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#notifications`)
                                span.header-notifications__count 22

                        .site-header__lk.lk-btn
                            .lk-btn__header
                                .lk-btn__icon
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#lk`)
                                .lk-btn__text Мищенко Сергей
                                .lk-btn__chevron
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle_down`)

                            .lk-btn__content
                                a(href="javascript:void(0);").lk-btn__link
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#settings`)
                                    | Личные данные

                                a(href="javascript:void(0);").lk-btn__link
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#entry`)
                                    | Выйти

                        .header-burger(data-js="headerBurger")
                            .header-burger__toggle(data-js="headerBurgerToggle")
                                .header-burger__open.header-burger__icon
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#burger`)
                                .header-burger__close.header-burger__icon
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#close`)

                            .header-burger__content.scrollbar.scrollbar--small(data-js="headerBurgerContent")
                                .header-burger__block
                                    .header-menu.header-menu--burger
                                        .header-menu__item.header-menu__item--mob
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Личный кабинет
                                        .header-menu__item.header-menu__item--mob(data-js="headerMenuItem")
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Добавление авто
                                                .header-menu__icon.header-menu__icon--open(data-js="headerMenuItemOpen")
                                                    svg
                                                        use(xlink:href=`img/sprites/sprite.svg#burger_chevron`)
                                                .header-menu__icon.header-menu__icon--close(data-js="headerMenuItemClose")
                                                    svg
                                                        use(xlink:href=`img/sprites/sprite.svg#burger_close`)
                                            .header-menu__submenu(data-js="headerMenuItemSubmenu")
                                                .header-menu__list
                                                    a(href="javascript:void(0);").header-menu__link Пункт 1
                                                    a(href="javascript:void(0);").header-menu__link Пункт 2
                                                    a(href="javascript:void(0);").header-menu__link Пункт 3
                                                    a(href="javascript:void(0);").header-menu__link Пункт 4

                                        .header-menu__item.header-menu__item--mob(data-js="headerMenuItem")
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Каталог
                                                .header-menu__icon.header-menu__icon--open(data-js="headerMenuItemOpen")
                                                    svg
                                                        use(xlink:href=`img/sprites/sprite.svg#burger_chevron`)
                                                .header-menu__icon.header-menu__icon--close(data-js="headerMenuItemClose")
                                                    svg
                                                        use(xlink:href=`img/sprites/sprite.svg#burger_close`)
                                            .header-menu__submenu(data-js="headerMenuItemSubmenu")
                                                .header-menu__list
                                                    a(href="javascript:void(0);").header-menu__link Мои автомобили
                                                    a(href="javascript:void(0);").header-menu__link Проблемные авто
                                                    a(href="javascript:void(0);").header-menu__link Архивные автомобили
                                                    a(href="javascript:void(0);").header-menu__link Проданные автомобили

                                        .header-menu__item.header-menu__item--mob
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Аналитика

                                        .header-menu__item.header-menu__item--mob
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Запросы на покупку

                                        .header-menu__item.header-menu__item--mob(data-js="headerMenuItem")
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Заявки на регистрацию

                                .header-burger__block
                                    .header-burger__links
                                        a(href="javascript:void(0);").header-burger__link
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#settings`)
                                            | Личные данные

                                        a(href="javascript:void(0);").header-burger__link
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#notifications`)
                                            | Уведомления <span>22</span>

                                .header-burger__block
                                    .header-burger__links
                                        a(href="javascript:void(0);").header-burger__link
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#entry`)
                                            | Выйти


                    - else if(checkProps.type === 'employee')
                        .section-block.site-header__block.site-header__menu
                            nav.header-menu
                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Личный кабинет

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Каталог автомобилей

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Поставщики

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Заявки на регистрацию аккаунта <span>12</span>

                                .header-menu__item
                                    .header-menu__header
                                        a(href="javascript:void(0);").header-menu__link Заявки на покупку

                        .section-block.site-header__block.site-header__notifications
                            a(href="javascript:void(0);").header-notifications
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#notifications`)
                                span.header-notifications__count 22

                        .site-header__lk.lk-btn
                            .lk-btn__header
                                .lk-btn__icon
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#lk`)
                                .lk-btn__text Мищенко Сергей
                                .lk-btn__chevron
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle_down`)

                            .lk-btn__content
                                a(href="javascript:void(0);").lk-btn__link
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#entry`)
                                    | Выйти

                        .header-burger(data-js="headerBurger")
                            .header-burger__toggle(data-js="headerBurgerToggle")
                                .header-burger__open.header-burger__icon
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#burger`)
                                .header-burger__close.header-burger__icon
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#close`)

                            .header-burger__content.scrollbar.scrollbar--small(data-js="headerBurgerContent")
                                .header-burger__block
                                    .header-menu.header-menu--burger
                                        .header-menu__item.header-menu__item--mob
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Личный кабинет

                                        .header-menu__item.header-menu__item--mob(data-js="headerMenuItem")
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Каталог автомобилей


                                        .header-menu__item.header-menu__item--mob(data-js="headerMenuItem")
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Поставщики

                                        .header-menu__item.header-menu__item--mob
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Заявки на регистрацию аккаунта <span>12</span>

                                        .header-menu__item.header-menu__item--mob
                                            .header-menu__header
                                                a(href="javascript:void(0);").header-menu__link Заявки на покупку

                                .header-burger__block
                                    .header-burger__links

                                        a(href="javascript:void(0);").header-burger__link
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#notifications`)
                                            | Уведомления <span>22</span>

                                .header-burger__block
                                    .header-burger__links
                                        a(href="javascript:void(0);").header-burger__link
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#entry`)
                                            | Выйти

                    - else if(checkProps.type === 'unauth')
                        +btn({
                            classes: 'site-header__entry',
                            name: 'Войти', 
                            cMode: 'accent',
                            sMode: 'content'
                        })(data-modal="#loginModal")