mixin mixins()
    //- Компоненты
    include ../../blocks/components/btn/btn
    include ../../blocks/components/form/form
    include ../../blocks/components/form-filter/form-filter
    include ../../blocks/components/field/field
    include ../../blocks/components/modal/modal
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/socials/socials

    //- Модули
    include ../../blocks/modules/header/header
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/s-breadcrumbs/s-breadcrumbs
    include ../../blocks/modules/img-intro/img-intro
    include ../../blocks/modules/common-list/common-list

