mixin mixins()
    //- Компоненты
    include ../../blocks/components/btn/btn
    include ../../blocks/components/form/form
    include ../../blocks/components/form-filter/form-filter
    include ../../blocks/components/field/field
    include ../../blocks/components/modal/modal
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/socials/socials
    include ../../blocks/components/slider-controls/slider-controls
    include ../../blocks/components/chat/chat

    //- Модули
    include ../../blocks/modules/header/header
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/s-breadcrumbs/s-breadcrumbs
    include ../../blocks/modules/img-intro/img-intro
    include ../../blocks/modules/common-list/common-list
    include ../../blocks/modules/personal-data/personal-data
    include ../../blocks/modules/manual-adding/manual-adding
    include ../../blocks/modules/auto-card/auto-card
    include ../../blocks/modules/s-cars/s-cars