noindex
    div
        //- код модалок сюда

        //- Войти
        +modal({modalId:"loginModal", modalTitle:"", classes:"right-modal"})
            form.form.form--modal(action="#" data-validate novalidate data-auth='true')
                .form__content(data-js='form-content')
                    .checkboxes-flex
                        +field({
                            type: 'radio',
                            isTab: true,
                            radioCheckboxText: 'Войти как поставщик',
                            inputAttr: {
                                checked: '',
                                name: 'user-role'
                            }
                        })
                        +field({
                            type: 'radio',
                            isTab: true,
                            radioCheckboxText: 'Войти как сотрудник Frank Auto',
                            inputAttr: {
                                name: 'user-role'
                            }
                        })

                    .form__title.title.title--30 Авторизация

                    .form__fields
                        +field({
                            placeholder: 'Логин',
                            inputAttr: {
                                required: ''
                            },
                        })
                        +field({
                            placeholder: 'Пароль',
                            type: 'password',
                            inputAttr: {
                                required: ''
                            },
                        })

                    +btn({
                        classes: 'form__submit',
                        type: 'button',
                        buttonType: 'submit',
                        name: 'Войти',
                        cMode: 'accent',
                        sMode: 'full'
                    })

                    .form__privacy.form-privacy(data-js="formField")
                        .form-privacy__flex
                            label
                                input(type="checkbox" data-v-name='checkbox' required)
                                span.form-privacy__fake
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#check`)
                            span.form-privacy__text Согласен на обработку моих персональных данных в соответствии с <a href="#" target="_blank">Политикой в отношении обработки персональных данных</a>
                        span.field__error(data-js='fieldError')

                    .form__subtitle.title.title--24 Нет аккаунта?

                    +btn({
                        classes: 'form__submit',
                        name: 'Подать заявку на регистрацию',
                        cMode: 'light-accent',
                        sMode: 'full'
                    })(data-modal="#signInModal")

        //- Зарегистрироваться
        +modal({modalId:"signInModal", modalTitle:"", classes:"right-modal"})
            .modal-slides(data-js='modalSlides')
                .checkboxes-flex
                    +btn({
                        name: 'Войти',
                        sMode: 'content',
                        cMode: 'light'
                    })(data-modal="#loginModal")

                    +btn({
                        name: 'Подать заявку на регистрацию',
                        cMode: 'accent',
                        sMode: 'content',
                        type: 'fake'
                    })
                .modal-slides__item.active(data-js="modalSlide" data-index='0')
                    form.form.form--modal(action="#" data-validate novalidate data-thanks="#thanksModal" data-auth='true')
                        .form__content(data-js='form-content')

                            .form__title.title.title--30 Регистрация

                            .radios-row
                                .radios-row__title Тип клиента
                                .radios-row__list
                                    .modal-slides__tab(data-js='modalSlidesTab' data-id='0')
                                        +field({
                                            type: 'radio',
                                            radioCheckboxText: 'Юр. лицо',
                                            inputAttr: {
                                                checked: '',
                                                name: 'userType',
                                            }
                                        })
                                    .modal-slides__tab(data-js='modalSlidesTab' data-id='1')
                                        +field({
                                            type: 'radio',
                                            radioCheckboxText: 'Физ. лицо',
                                            inputAttr: {
                                                name: 'userType',
                                            }
                                        })

                            .form__fields
                                +field({
                                    classes: '',
                                    tag: 'select',
                                    placeholder: 'Тип организации',
                                    selectOptions: [
                                        "",
                                        "ИП",
                                        "ООО",
                                        "АО",
                                    ],
                                    inputAttr: {
                                        'required': '',
                                    },
                                })
                                +field({
                                    placeholder: 'ИНН',
                                    inputAttr: {
                                        'required': '',
                                        'data-type': 'number',
                                        'data-v-name': 'inn'
                                    },
                                })
                                +field({
                                    placeholder: 'КПП',
                                    inputAttr: {
                                        'required': '',
                                        'data-type': 'number',
                                        'data-v-name': 'kpp'
                                    },
                                })
                                +field({
                                    placeholder: 'Название юр.лица',
                                    inputAttr: {
                                        'required': '',
                                    },
                                })
                                +field({
                                    placeholder: 'Компания',
                                    inputAttr: {
                                        'required': '',
                                    },
                                })
                                +field({
                                    placeholder: 'Контактное лицо',
                                    inputAttr: {
                                        'required': '',
                                        'data-type': 'letters'
                                    },
                                })
                                +field({
                                    placeholder: 'Email для получения учетных данных',
                                    inputAttr: {
                                        'required': '',
                                        'data-v-name': 'email'
                                    },
                                })
                                +field({
                                    placeholder: 'Номер телефона',
                                    inputAttr: {
                                        'required': '',
                                        'data-v-name': 'phone',
                                        'data-type': 'phoneNumber'
                                    },
                                })


                            +btn({
                                classes: 'form__submit',
                                type: 'button',
                                buttonType: 'submit',
                                name: 'Отправить заявку на регистрацию',
                                cMode: 'accent',
                                sMode: 'full'
                            })

                            .form__privacy.form-privacy(data-js="formField")
                                .form-privacy__flex
                                    label
                                        input(type="checkbox" data-v-name='checkbox' required)
                                        span.form-privacy__fake
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#check`)
                                    span.form-privacy__text Согласен на обработку моих персональных данных в соответствии с <a href="#" target="_blank">Политикой в отношении обработки персональных данных</a>
                                span.field__error(data-js='fieldError')

                .modal-slides__item(data-js="modalSlide" data-index='1')
                    form.form.form--modal(action="#" data-validate novalidate data-thanks="#thanksModal" data-auth='true')
                        .form__content(data-js='form-content')
                            .form__title.title.title--30 Регистрация

                            .radios-row
                                .radios-row__title Тип клиента
                                .radios-row__list 
                                    .modal-slides__tab(data-js='modalSlidesTab' data-id='0')
                                        +field({
                                            type: 'radio',
                                            radioCheckboxText: 'Юр. лицо',
                                            inputAttr: {
                                                name: 'userType'
                                            }
                                        })
                                    .modal-slides__tab(data-js='modalSlidesTab' data-id='1')
                                        +field({
                                            type: 'radio',
                                            radioCheckboxText: 'Физ. лицо',
                                            inputAttr: {
                                                checked: '',
                                                name: 'userType'
                                            }
                                        })

                            .form__fields
                                +field({
                                    placeholder: 'Фамилия',
                                    inputAttr: {
                                        'required': '',
                                        'data-type': 'letters'
                                    },
                                })
                                .form__flex
                                    +field({
                                        placeholder: 'Имя',
                                        inputAttr: {
                                            'required': '',
                                            'data-type': 'letters'
                                        },
                                    })
                                    +field({
                                        placeholder: 'Отчество (при наличии)',
                                        inputAttr: {
                                            'data-type': 'letters'
                                        },
                                    })
                                +field({
                                    placeholder: 'Email для получения учетных данных',
                                    inputAttr: {
                                        'required': '',
                                        'data-v-name': 'email'
                                    },
                                })
                                +field({
                                    placeholder: 'Номер телефона',
                                    inputAttr: {
                                        'required': '',
                                        'data-v-name': 'phone',
                                        'data-type': 'phoneNumber'
                                    },
                                })
                                +field({
                                    classes: '',
                                    tag: 'select',
                                    placeholder: 'Страна гражданства',
                                    selectOptions: [
                                        "",
                                        "Россия",
                                        "Беларусь",
                                        "Казахстан",
                                    ],
                                    inputAttr: {
                                        'required': '',
                                    },
                                })
                                +field({
                                    placeholder: 'Серия и номер паспорта',
                                    inputAttr: {
                                        'required': '',
                                    },
                                })
                                .form__flex
                                    +field({
                                        placeholder: 'Дата выдачи',
                                        icon: 'calendar',
                                        inputAttr: {
                                            'required': '',
                                            'data-v-name': 'date',
                                            'data-type': 'date',
                                            'data-position': 'top'
                                        },
                                    })
                                    +field({
                                        placeholder: 'Код подразделения',
                                        inputAttr: {
                                            'required': '',
                                        },
                                    })
                                +field({
                                    placeholder: 'Дата рождения',
                                    icon: 'calendar',
                                    inputAttr: {
                                        'required': '',
                                        'data-v-name': 'date',
                                        'data-type': 'date',
                                        'data-position': 'top'
                                    },
                                })


                            +btn({
                                classes: 'form__submit',
                                type: 'button',
                                buttonType: 'submit',
                                name: 'Отправить заявку на регистрацию',
                                cMode: 'accent',
                                sMode: 'full'
                            })

                            .form__privacy.form-privacy(data-js="formField")
                                .form-privacy__flex
                                    label
                                        input(type="checkbox" data-v-name='checkbox' required)
                                        span.form-privacy__fake
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#check`)
                                    span.form-privacy__text Согласен на обработку моих персональных данных в соответствии с <a href="#" target="_blank">Политикой в отношении обработки персональных данных</a>
                                span.field__error(data-js='fieldError')

        //- Отправить в архив
        +modal({modalId:"archiveModal", modalTitle:"", classes:"center-big-modal"})
            form.form.form--modal(action="#" data-validate novalidate)
                .form__content(data-js='form-content')

                    .form__title.title.title--24 Отправка в архив
                    .custom-scrollbar.form__scroll(data-js="customScrollbar")
                        .form__fields
                            +field({
                                placeholder: 'Причина отправки в архив',
                                inputAttr: {
                                    required: ''
                                },
                            })
                            +field({
                                placeholder: 'Комментарий',
                                tag: 'textarea',
                            })

                    +btn({
                        classes: 'form__submit',
                        type: 'button',
                        buttonType: 'submit',
                        name: 'Отправить в архив',
                        cMode: 'accent',
                        sMode: 'full'
                    })

        //- Отклонить автомобиль
        +modal({modalId:"rejectModal", modalTitle:"", classes:"center-big-modal"})
            form.form.form--modal(action="#" data-validate novalidate)
                .form__content(data-js='form-content')

                    .form__title.title.title--24 Отклонение автомобиля

                    .custom-scrollbar.form__scroll(data-js="customScrollbar")
                        .form__fields
                            +field({
                                placeholder: 'Причина отказа',
                                inputAttr: {
                                    required: ''
                                },
                            })
                            +field({
                                placeholder: 'Комментарий',
                                tag: 'textarea',
                            })

                            .form__flex.form__flex--checkbox
                                +field({
                                    type: 'checkbox',
                                    radioCheckboxText: 'Количество владельцев'
                                })
                                +field({
                                    placeholder: 'Комментарий',
                                })
                            .form__flex.form__flex--checkbox
                                +field({
                                    type: 'checkbox',
                                    radioCheckboxText: 'Привод'
                                })
                                +field({
                                    placeholder: 'Комментарий',
                                })
                            .form__flex.form__flex--checkbox
                                +field({
                                    type: 'checkbox',
                                    radioCheckboxText: 'Двигатель'
                                })
                                +field({
                                    placeholder: 'Комментарий',
                                })
                            .form__flex.form__flex--checkbox
                                +field({
                                    type: 'checkbox',
                                    radioCheckboxText: 'Кузов'
                                })
                                +field({
                                    placeholder: 'Комментарий',
                                })
                            .form__flex.form__flex--checkbox
                                +field({
                                    type: 'checkbox',
                                    radioCheckboxText: 'Год выпуска'
                                })
                                +field({
                                    placeholder: 'Комментарий',
                                })
                            .form__flex.form__flex--checkbox
                                +field({
                                    type: 'checkbox',
                                    radioCheckboxText: 'Цвет'
                                })
                                +field({
                                    placeholder: 'Комментарий',
                                })
                            .form__flex.form__flex--checkbox
                                +field({
                                    type: 'checkbox',
                                    radioCheckboxText: 'Технический паспорт'
                                })
                                +field({
                                    placeholder: 'Комментарий',
                                })

                    +btn({
                        classes: 'form__submit',
                        type: 'button',
                        buttonType: 'submit',
                        name: 'Отклонить',
                        cMode: 'accent',
                        sMode: 'full'
                    })

        //- Окно благодарности регистрации
        +modal({modalId:"thanksModal", modalTitle:"", classes:"right-modal"})
            .thanks-message
                .thanks-message__image
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#form_success`)
                .title.title--30.thanks-message__title Заявка отправлена
                .thanks-message__text <b>В течении 1-3 рабочих дней</b> <br>на указанный адрес почты будут отправлены учетные данные для входа на цифровую платформу
                .thanks-message__email test@yandex.ru
                .thanks-message__note Если по какой-то причине менеджер откажет в регистрации, то на указанную почту придет сообщение с указанием причины и списком дальнейших действий для устранения причин отказа

        //- Окно "Разместить на сайтах Франк?"
        +modal({modalId:"manualAddingModal", modalTitle:"", classes:"center-modal"})
            .ma-modal
                .title.ma-modal__title Разместить на сайтах Франк?
                .ma-modal__btns
                    +btn({
                        name: 'Да',
                        cMode: 'accent',
                        sMode: 'full',
                    })(data-modal="#carAddedModal")
                    +btn({
                        name: 'Нет',
                        cMode: 'light-accent',
                        sMode: 'full',
                    })(data-hystclose)

        //- Окно Автомобиль добавлен в базу
        +modal({modalId:"carAddedModal", modalTitle:"", classes:"center-modal"})
            .ca-modal
                .ca-modal__image
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#form_check`)
                .title.title--30.ca-modal__title Автомобиль отправлен в&nbsp;базу Frank&nbsp;Auto
                .ca-modal__btns
                    +btn({
                        name: 'Просмотр автомобиля',
                        cMode: 'light-accent',
                        sMode: 'full'
                    })
                    +btn({
                        name: 'Добавить еще один автомобиль',
                        cMode: 'accent',
                        sMode: 'full'
                    })
