.field {
    position: relative;
    width: 100%;
    padding: 0;
    border: none;

    label {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        border: none;
        position: relative;

        @include max(tablet) {
            gap: 4px;
        }
    }

    &--invalid {
        .field__error {
            display: block;
        }

        .field__note {
            margin-top: 12px;
        }
    }

    &__input:focus~&__placeholder,
    &__input:not(:placeholder-shown)~&__placeholder,
    &__textarea:focus~&__placeholder,
    &__textarea:not(:placeholder-shown)~&__placeholder,
    &__select~&__placeholder.active {
        font-size: 12px;
        top: 6px;
        transform: translateY(0);

        @include max(mobile) {
            font-size: 10px;
            top: 3px;
        }
    }

    &__select~&__placeholder {
        z-index: 5;
        visibility: hidden;
    }

    &__select~&__placeholder.active {
        visibility: visible;
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
        font-family: $ff-inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        color: $c-input-grey;
        transition: all 0.2s linear;

        @include max(mobile) {
            font-size: 14px;
            left: 12px;
        }
    }

    &__note {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0;
        color: #6B7280;
        margin-top: 4px;
    }

    &__textarea~&__placeholder {
        top: 16px;
        transform: translateY(0);

        @include max(mobile) {
            top: 11px;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 16px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        color: $c-input-grey;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__input:focus,
    &__input:not(:placeholder-shown),
    &__textarea:focus,
    &__textarea:not(:placeholder-shown) {
        padding-top: 24px;
        padding-bottom: 6px;

        @include max(mobile) {
            padding-top: 19px;
            padding-bottom: 3px;
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        padding: 15px;
        font-family: $ff-inter;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 600;
        outline: none;
        color: $c-text;
        background-color: $c-bg-input;
        border-radius: $br-btn-input;
        border: 1px solid $c-bg-input;
        transition: all $tr-time linear;
        min-height: 56px;

        @include max(mobile) {
            font-size: 14px;
            padding: 11px;
            min-height: 48px;
        }
    }

    &--invalid &__input,
    &--invalid &__textarea,
    &--invalid .select2 {
        border-color: $c-error !important;
    }

    &__textarea {
        resize: none;
    }

    &__select.select2-hidden-accessible {
        opacity: 0;
        visibility: hidden;
    }

    &__error {
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        font-size: 12px;
        line-height: 1.4em;
        color: $c-error;
        display: none;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

}

.field {
    &--sort .select2-selection {
        padding-left: 40px !important;
        min-width: 260px;
        position: relative;
    }

    &--sort .select2-selection:before {
        content: '';
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.2002 0C0.916862 0 0.679362 0.0958328 0.487695 0.287499C0.296029 0.479166 0.200195 0.716666 0.200195 1C0.200195 1.28333 0.296029 1.52083 0.487695 1.7125C0.679362 1.90417 0.916862 2 1.2002 2H5.2002C5.48353 2 5.72103 1.90417 5.9127 1.7125C6.10436 1.52083 6.2002 1.28333 6.2002 1C6.2002 0.716666 6.10436 0.479166 5.9127 0.287499C5.72103 0.0958328 5.48353 0 5.2002 0H1.2002ZM1.2002 5C0.916862 5 0.679362 5.09583 0.487695 5.2875C0.296029 5.47917 0.200195 5.71667 0.200195 6C0.200195 6.28333 0.296029 6.52083 0.487695 6.7125C0.679362 6.90417 0.916862 7 1.2002 7H11.2002C11.4835 7 11.721 6.90417 11.9127 6.7125C12.1044 6.52083 12.2002 6.28333 12.2002 6C12.2002 5.71667 12.1044 5.47917 11.9127 5.2875C11.721 5.09583 11.4835 5 11.2002 5H1.2002ZM1.2002 10C0.916862 10 0.679362 10.0958 0.487695 10.2875C0.296029 10.4792 0.200195 10.7167 0.200195 11C0.200195 11.2833 0.296029 11.5208 0.487695 11.7125C0.679362 11.9042 0.916862 12 1.2002 12H17.2002C17.4835 12 17.721 11.9042 17.9127 11.7125C18.1044 11.5208 18.2002 11.2833 18.2002 11C18.2002 10.7167 18.1044 10.4792 17.9127 10.2875C17.721 10.0958 17.4835 10 17.2002 10H1.2002Z' fill='%236B7280'/%3E%3C/svg%3E");
        background-size: 100% 100%;
        width: 18px;
        height: 12px;
    }
}

.field {
    &--search &__input {
        padding-right: 55px;

        @include max(mobile) {
            padding-right: 42px;
        }
    }

    &--search &__icon {
        width: 28px;
        height: 28px;
        color: #6B7280;
        transition: all $tr-time linear;
        cursor: pointer;

        @include max(mobile) {
            width: 20px;
            height: 20px;
        }

        &:hover {
            color: $c-accent;
        }

        svg {
            width: 28px;
            height: 28px;

            @include max(mobile) {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.field {

    &--checkbox {
        width: fit-content;
    }

    &--checkbox label {
        cursor: pointer;
        position: relative;
        flex-direction: row-reverse;
        align-items: center;
        width: fit-content;
    }

    &--checkbox input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    &--checkbox .fake-checkbox {
        display: block;
        position: relative;
        width: 40px;
        height: 26px;
        background-color: $c-input-grey;
        flex-shrink: 0;
        flex-grow: 0;
        transition: all $tr-time linear;
        border-radius: 13px;

        &::after {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $c-white;
            border-radius: 100%;
            transition: all $tr-time linear;
        }
    }

    &--checkbox input:checked+.fake-checkbox {
        background-color: $c-accent;
    }

    &--checkbox input:checked+.fake-checkbox::after {
        left: 16px;
    }

    &--checkbox .fake-checkbox {
        &--text {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            width: auto;
            height: auto;
            background-color: transparent;
            border-radius: 0;
            flex: 0 1 auto;
            color: $c-text;

            &::after {
                content: none;
            }
        }

        &--text .fake-checkbox__square {
            width: 22px;
            height: 22px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: transparent;
            border: 2px solid $c-text-breadcrumbs;
            color: transparent;
            cursor: pointer;
            border-radius: 25%;
            transition: all $tr-time linear;

            svg {
                width: 14px;
                height: 14px;
            }
        }

        &--text .fake-checkbox__text {
            font-family: $ff-inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0;
        }
    }

    &--checkbox input:checked+.fake-checkbox {
        &--text {
            background-color: transparent;
        }

        &--text .fake-checkbox__square {
            background-color: $c-accent;
            border-color: $c-accent;
            color: $c-white;

        }
    }
}

.field {

    &--radio {
        width: fit-content;
    }

    &--radio label {
        cursor: pointer;
        position: relative;
        flex-direction: row-reverse;
        align-items: center;
        width: fit-content;
    }

    &--radio input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    &--radio .fake-radio {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 8px;
    }

    &--radio .fake-radio__input {
        display: block;
        position: relative;
        width: 26px;
        height: 26px;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 100%;
        border: 1px solid #CCCCCC;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            background-color: $c-accent;
            border-radius: 100%;
            transition: all $tr-time linear;
            opacity: 0;
        }
    }


    &--radio input:checked+.fake-radio .fake-radio__input::after {
        opacity: 1;
    }
}

.field {

    &--tab {
        width: fit-content;
    }

    &--tab label {
        cursor: pointer;
        position: relative;
        width: max-content;
        cursor: pointer;
    }

    &--tab input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    &--tab .fake-checkbox,
    &--tab .fake-radio {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        gap: 10px;
        background-color: #E9EEFC;
        transition: all $tr-time linear;
        border-radius: 16px;
        color: $c-accent;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0;
        min-height: 56px;

        @include max(mobile) {
            padding: 12px 16px;
            border-radius: 10px;
            font-size: 14px;
            min-height: 48px;
        }
    }

    &--tab.field--green .fake-checkbox,
    &--tab.field--green .fake-radio {
        background-color: $c-status-lgreen;
        color: $c-status-green;
    }

    &--tab.field--yellow .fake-checkbox,
    &--tab.field--yellow .fake-radio {
        background-color: $c-status-lyellow;
        color: $c-status-yellow;
    }

    &--tab.field--red .fake-checkbox,
    &--tab.field--red .fake-radio {
        background-color: $c-status-lred;
        color: $c-status-red;
    }

    &--tab .fake-checkbox__input,
    &--tab .fake-radio__input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 0;
        height: 0;
    }

    &--tab input:checked+.fake-checkbox,
    &--tab label:hover .fake-checkbox,
    &--tab input:checked+.fake-radio,
    &--tab label:hover .fake-radio {
        background-color: $c-accent;
        color: $c-white;
    }

    &--tab.field--green input:checked+.fake-checkbox,
    &--tab.field--green label:hover .fake-checkbox,
    &--tab.field--green input:checked+.fake-radio,
    &--tab.field--green label:hover .fake-radio {
        background-color: $c-status-green;
    }

    &--tab.field--yellow input:checked+.fake-checkbox,
    &--tab.field--yellow label:hover .fake-checkbox,
    &--tab.field--yellow input:checked+.fake-radio,
    &--tab.field--yellow label:hover .fake-radio {
        background-color: $c-status-yellow;
    }

    &--tab.field--red input:checked+.fake-checkbox,
    &--tab.field--red label:hover .fake-checkbox,
    &--tab.field--red input:checked+.fake-radio,
    &--tab.field--red label:hover .fake-radio {
        background-color: $c-status-red;
    }

}

.field {
    &--double {
        display: flex;
        align-items: stretch;
        position: relative;

        &::after {
            content: '';
            background-color: #939AA7;
            width: 1px;
            height: 62.5%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }
    }

    &--double &__input {
        flex: 0 0 50%;
        padding: 15px;
        border-radius: $br-btn-input 0 0 $br-btn-input;

        @include max(mobile) {
            padding: 11px;
        }
    }

    &--double &__input--second {
        padding: 15px;
        border-radius: 0 $br-btn-input $br-btn-input 0;

        @include max(mobile) {
            padding: 11px;
        }
    }

    &--double .select2.select2-container--default {
        border-radius: $br-btn-input 0 0 $br-btn-input;
    }

    &--double &__select--second+.select2.select2-container--default {
        border-radius: 0 $br-btn-input $br-btn-input 0;
    }

    &--double .select2.select2-container--default .select2-selection--single,
    &--double .select2.select2-container--default .select2-selection--multiple {
        padding: 15px;

        @include max(mobile) {
            padding: 11px;
        }
    }

}

.select2 {
    display: flex;
    align-items: center;
    width: 100% !important;
    border-radius: $br-btn-input;
    background-color: $c-bg-input;
    border: 1px solid $c-bg-input;

    @include max(mobile) {
        border-radius: 10px;
    }

    .selection {
        width: 100%;
    }

    .select2-selection__clear {
        display: none;
    }

    &.select2-container--default {

        .select2-search--inline .select2-search__field {
            margin-top: 0;
        }

        .select2-selection--single,
        .select2-selection--multiple {
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $c-text;
            border-radius: 0;
            width: 100%;
            height: auto;
            border: none;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s;
            min-height: 56px;

            @include max(mobile) {
                font-size: 14px;
                padding: 12px;
                min-height: 48px;
            }

            .select2-selection__rendered,
            .select2-selection__placeholder {
                font-family: $ff-inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5em;
                letter-spacing: 0;
                color: $c-input-grey;
                width: 100%;
                padding: 0;

                @include max(mobile) {
                    font-size: 14px;
                }
            }

            .select2-selection__rendered {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                color: $c-text;
                position: relative;
            }

            .select2-selection__rendered .select2-selection__choice {
                margin-top: 0;
                margin-right: 0;
                background-color: transparent;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                height: 19px;
                font-size: 13px;
                color: $c-accent;
                border-color: $c-accent;

            }

            .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
                margin-right: 0;
                margin-left: 5px;
                font-size: 20px;
                color: $c-accent;
            }

            .select2-selection__arrow {
                position: relative;
                flex-shrink: 0;
                flex-grow: 0;
                height: 10px;
                width: 10px;
                display: block;

                b {
                    display: none;
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4' clip-path='url(%23clip0_636_25816)'%3E%3Cpath d='M5.20799 7.76458C5.03623 7.76458 4.86449 7.69821 4.73353 7.56573L0.612623 3.39498C0.35048 3.12967 0.35048 2.69951 0.612623 2.43431C0.874661 2.1691 1.2996 2.1691 1.56176 2.43431L5.20799 6.12482L8.85425 2.43444C9.11639 2.16923 9.54129 2.16923 9.8033 2.43444C10.0656 2.69964 10.0656 3.1298 9.8033 3.39511L5.68246 7.56586C5.55144 7.69836 5.3797 7.76458 5.20799 7.76458Z' fill='%236B7280'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_636_25816'%3E%3Crect width='9.58401' height='9.69985' fill='white' transform='translate(0.416016 0.150078)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-size: 100%;
                    transition: all 0.3s;
                    transform: rotate(0deg);
                }
            }


        }

        &.select2-container--open {

            .select2-selection--single .select2-selection__arrow,
            .select2-selection--multiple .select2-selection__arrow {
                &::before {
                    content: '';
                    transform: rotate(180deg);
                    transition: all 0.3s;
                }
            }
        }
    }

    &.select2-container.select2-container--default.select2-container--open {
        z-index: 1;
    }
}

.field__placeholder--select~.select2 .select2-selection__rendered:not(:has(.select2-selection__placeholder)) {
    top: 9px;

    @include max(mobile) {
        top: 4px;
    }
}

.select2-container.select2-container--default.select2-container--open {
    z-index: 40;

    .select2-dropdown {

        background-color: #fff;
        border: 1px solid $c-border;
        border-radius: $br-btn-input;
        padding: 10px 5px 10px 10px;
        top: 10px;

        .select2-search {
            display: none;
        }

        .select2-search.active {
            display: block;
        }

        .select2-search__field {
            border-radius: 4px;
            border-color: $c-bg-input;
        }

        .select2-results {
            &__options {
                display: flex;
                flex-direction: column;
                gap: 7px;
                max-height: 223px;
                padding-left: 0;
                padding-right: 5px;

                &::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                }

                &::-webkit-scrollbar-track {
                    background-color: $c-text-breadcrumbs;
                    border-radius: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $c-bg-main;
                    border-radius: 6px;
                }
            }

            &__option {
                color: $c-text-breadcrumbs;
                font-family: $ff-inter;
                font-weight: 500;
                font-size: 15px;
                line-height: 1.2em;
                letter-spacing: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                background: transparent;
                padding: 6px 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: all $tr-time linear;

                @include max(mobile) {
                    font-size: 14px;
                }

                &:hover {
                    transition: all $tr-time linear;
                    background-color: #F4F6FA;
                }

                &.select2-results__option--highlighted {
                    background-color: #F4F6FA;
                    transition: all $tr-time linear;
                }
            }
        }

    }
}

.hystmodal__opened .select2-container.select2-container--default.select2-container--open:not(.select2) {
    z-index: 70;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $c-text;
    transition: color $tr-time linear;
}

.field.active .select2 {
    background-color: $c-text;
    border-color: $c-border;
    color: $c-white;

    .select2-selection--single,
    .select2-selection--multiple {
        .select2-selection__rendered {
            color: $c-white;
        }

        .select2-selection__arrow::before {
            background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.332 6.00004L7.9987 9.33337L4.66537 6.00004' stroke='%23fff' stroke-linecap='square'/%3E%3C/svg%3E") 0 0 / 100% 100% no-repeat;
        }
    }
}