extends ../layouts/default

block variables
    - const title = "Каталог автомобилей поставщика"
    - const footerType = 'employee'
    - const headerType = 'employee'

block content
    .page-layout(data-js="pageLayout")

        section.section.section--bc
            .section__container.section__content
                +breadcrumbs({
                    items: [
                        {
                            name: 'Личный кабинет',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'База поставщиков',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Каталог поставщика ООО Рога и Копыта',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        +e-cars