extends ../layouts/default

block variables
	- const title = "Сотрудник разводящая"
	- const footerType = 'employee'
	- const headerType = 'employee'

block content
	.page-layout(data-js="pageLayout")

		section.section
			.section__container
				.section-block
					.section-block__bg
					.section-block__content