extends ../layouts/default

block variables
	- const title = "Сотрудник разводящая"
	- const footerType = 'employee'
	- const headerType = 'employee'

block content
	.page-layout(data-js="pageLayout")

		+common-list({
			columns: '2',
			cards: [
				{
					title: 'Каталог автомобилей',
					img: 'img/link-cards/card_3.webp',
					btns: [{
						classes: 'common-list__btn',
						name: 'Перейти',
						cMode: 'light-accent',
						sMode: "content",
						hasArrow: true,
						icon: ''
					}]
				},
				{
					title: 'База поставщиков',
					img: 'img/link-cards/card_7.webp',
					btns: [{
						classes: 'common-list__btn',
						name: 'Перейти',
						cMode: 'light-accent',
						sMode: "content",
						hasArrow: true,
						icon: ''
					}]
				},
				{
					title: 'Заявки на регистрацию аккаунта',
					img: 'img/link-cards/card_10.webp',
					btns: [{
						classes: 'common-list__btn',
						name: 'Перейти',
						cMode: 'light-accent',
						sMode: "content",
						hasArrow: true,
						icon: ''
					}]
				},
				{
					title: 'Заявки на выкуп автомобиля',
					img: 'img/link-cards/card_5.webp',
					btns: [{
						classes: 'common-list__btn',
						name: 'Перейти',
						cMode: 'light-accent',
						sMode: "content",
						hasArrow: true,
						icon: ''
					}]
				},
			],
		})