extends ../layouts/default

block variables
	- const title = "Поставщикам"
	- const footerType = 'supplier'
	- const headerType = 'unauth'

block content
	.page-layout(data-js="pageLayout")
		+img-intro