extends ../layouts/default

block variables
    - const title = "Запросы на покупку"
    - const footerType = 'supplier'
    - const headerType = 'supplier'

block content
    .page-layout(data-js="pageLayout")

        section.section.section--bc
            .section__container.section__content
                +breadcrumbs({
                    items: [
                        {
                            name: 'Личный кабинет',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Запросы на покупку',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        +s-cars({
            title: '<h1>Запросы на покупку</h1>',
            isPurchase: true,
            cards: [
                {
                    img: 'img/catalog-product/cp_intro_1.webp',
                    title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                    price: {
                        current: '15 000 000 ₽',
                        old: '',
                        direction: ''
                    },
                    dateAdded: {
                        date: '29.08.2025',
                        days: '1 день',
                        status: 'green',
                    }
                },
                {
                    img: 'img/catalog-product/cp_intro_1.webp',
                    title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                    price: {
                        current: '15 000 000 ₽',
                        old: '',
                        direction: ''
                    },
                    dateAdded: {
                        date: '29.08.2025',
                        days: '2 дня',
                        status: 'yellow',
                    },
                },
                {
                    img: 'img/catalog-product/cp_intro_1.webp',
                    title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                    price: {
                        current: '15 000 000 ₽',
                        old: '',
                        direction: ''
                    },
                    dateAdded: {
                        date: '29.08.2025',
                        days: '2 дня',
                        status: 'yellow',
                    },
                },
                {
                    img: 'img/catalog-product/cp_intro_1.webp',
                    title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                    price: {
                        current: '15 000 000 ₽',
                        old: '',
                        direction: ''
                    },
                    dateAdded: {
                        date: '29.08.2025',
                        days: '2 дня',
                        status: 'yellow',
                    }
                },
                {
                    img: 'img/catalog-product/cp_intro_1.webp',
                    title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                    price: {
                        current: '15 000 000 ₽',
                        old: '',
                        direction: ''
                    },
                    dateAdded: {
                        date: '29.08.2025',
                        days: '6 дней',
                        status: 'red',
                    },
                },

            ],
        })