extends ../layouts/default

block variables
	- const title = "Поставщик разводящая"
	- const footerType = 'supplier'
	- const headerType = 'supplier'

block content
	.page-layout(data-js="pageLayout")

		+common-list