-
    const defaultFieldPhotosProps = {
        classes: '',
        title: '',
        placeholder: '',
        id: '',
        inputAttr: '',
        editPage: false 
    }

mixin field-photos(props = defaultFieldPhotosProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFieldPhotosProps.classes,
            title: props.title ? props.title : defaultFieldPhotosProps.title,
            placeholder: props.placeholder ? props.placeholder : defaultFieldPhotosProps.placeholder,
            id: props.id ? props.id : defaultFieldPhotosProps.id,
            inputAttr: props.inputAttr ? props.inputAttr : defaultFieldPhotosProps.inputAttr,
            editPage: props.editPage ? props.editPage : defaultFieldPhotosProps.editPage,
        }

    .field-photos(class= checkProps.classes data-hidden="PROPERTY[242]" data-name="PROPERTY_FILE_242_" data-js="fieldPhotos" data-page=`${checkProps.editPage ? 'edit' : ''}`)&attributes(attributes)

        .field-photos__item.field-photos__label(data-js="fieldPhotosLabel")
            .field-photos__add.btn.btn--accent.btn--small
                svg
                    use(xlink:href="img/sprites/sprite.svg#photo")
                span.btn__text Загрузить фото
            .field-photos__error(data-js="fieldPhotosError") Загрузите фото в формате .jpeg / .jpg / .png / .webp

