-
    const defaultTooltipProps = {
        classes: '',
        title: '',
        text: 'Краткое описание, что такое честная цена',
        icon: 'tooltip'
    }

mixin tooltip(props= defaultTooltipProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultTooltipProps.classes,
            title: props.title ? props.title : defaultTooltipProps.title,
            text: props.text ? props.text : defaultTooltipProps.text,
            icon: props.icon ? props.icon : defaultTooltipProps.icon
        }

    .tooltip(class= checkProps.classes)&attributes(attributes)
        .tooltip__header
            - if(checkProps.title.length > 0)
                .tooltip__title!= checkProps.title
            .tooltip__icon
                svg
                    use(xlink:href=`img/sprites/sprite.svg#${checkProps.icon}`)
        .tooltip__tooltip!= checkProps.text



