-
    const defaultImgIntroProps = {
        classes: '',
    }

mixin img-intro(props= defaultImgIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultImgIntroProps.classes,
        }

    section.section.img-intro
        .section__container
            .section-block.section-block--dark.img-intro__block
                .section-block__bg.img-intro__bg
                    picture
                        source(srcset='img/home/home_intro.webp' media="(max-width: 767px)")
                        img(src='img/home/home_intro.webp' alt="")

                .section-block__content.img-intro__content
                    .img-intro__suptitle Личный кабинет поставщика
                    .img-intro__title.title.title--64.title--light
                        h1 <span>Цифровая платформа</span> для автопартнёров

                    .img-intro__flex
                        .img-intro__subtitle Предлагаете к продаже <span>новый автомобиль</span> или&nbsp;<span>автомобиль с&nbsp;пробегом</span>?
                        .img-intro__subtitle Разместите его здесь и&nbsp;о&nbsp;нём&nbsp;узнают специалисты <span>FRANK AUTO</span>

                    .img-intro__tags
                        .img-intro__tag 
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#check_tag`)
                            | Продаем автомобили с пробегом
                        .img-intro__tag 
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#check_tag`)
                            | Выплаты сразу в личном кабинете
                        .img-intro__tag 
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#check_tag`)
                            | Продаем новые автомобили
                        .img-intro__tag 
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#check_tag`)
                            | Прозраные бизнес-процессы

                    .img-intro__registration
                        +btn({
                            classes: 'img-intro__btn',
                            name: 'Зарегистрироваться',
                            cMode: 'accent',
                            sMode: 'content'
                        })(data-modal="#signInModal")
                        .img-intro__text Нет аккаунта? Подайте заявку на&nbsp;регистрацию
